# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.class
*.iml

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/14-spring-data-nosql/14-spring-data-nosql.iml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/target
/target/classes
/target/classes/*.properties
/.idea


/06-spring-boot-properties/target/classes/application.properties
/06-spring-environments/target/classes/dev-myprops.properties
/06-properties/target/classes/jdbc.properties
/06-spring-environments/target/classes/prod-myprops.property
/06-spring-environments/target/classes/test-myprops.properties
/07-spring-web-helloworld/target/classes
